
import (
	"gopkg.in/yaml.v2"
	"io/ioutil"
	"log"
	"os"
)

var env *envConfig
{{range $name,$val :=. -}}
var {{UppercaseFirst $name}} {{$typ := DetermineType $val}} {{if $typ}} {{$typ -}} {{else}} {{$name -}} {{end}}
{{end -}}

func SetupConfig(filePath string) {
	_, err := os.Stat(filePath)
	if err != nil {
		log.Fatalf("config file path %s not found", filePath)
	}
	bytes, err := ioutil.ReadFile(filePath)
	if err != nil {
		log.Fatalf("failed to read config file, %v", err)
	}
	err = yaml.Unmarshal(bytes, &env)
	if err != nil {
		log.Fatalf("dump yaml to struct failed, %v", err)
	}
	bind()
}

func bind() {
    {{- range $name,$val :=. }}
    {{UppercaseFirst $name}} = env.{{UppercaseFirst $name -}}
    {{end -}}
}