
var env *envConfig
{{range $name,$val :=. -}}
var {{UppercaseFirst $name}} {{$typ := DetermineType $val}} {{if $typ}} {{$typ -}} {{else}} {{$name -}} {{end}}
{{end -}}

func SetupConfig(filePath string) {
	Merge(filePath, &env)
    bind()
}

func bind() {
    {{- range $name,$val :=. }}
    {{UppercaseFirst $name}} = env.{{UppercaseFirst $name -}}
    {{end -}}
}